# Xcode
build/
DerivedData/
*.xcodeproj/project.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.playground/**/timeline.xctimeline
*.playground/**/playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Secrets
.env
.env.*
*.p8
GoogleService-Info.plist
